@import "tailwindcss";

:root {
    --glow: #00000050;
    --background: #ffffff;
    --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --glow: #ffffff50;
        --background: #000000;
        --foreground: #ffffff;
    }
}

header,
section {
    margin-top: 8px;
    margin-bottom: 12px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Times;
    /*color: black;*/
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 12px;
    line-height: 12px;
}

/* Ensure print-ready styles */
@media print {
    body {
        background: white !important;
        color: black !important;
    }

    .p-20 {
        padding: 0 !important;
    }

    .resume {
        box-shadow: none !important;
        border-radius: 0 !important;
    }
}
